{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
        <h4 style="color:#3C1361;">Placement Portal App</h4>
        <p style="text-align: justify-content; font-size:25px; color:#555; margin-bottom: 16px; text-align: center;">
            This is a Placement Portal Application built using Python Flask, SQLite, HTML, CSS, and Jinja2. It allows admins to manage company and student registrations, approve placement drives, and track applications. Students can apply to approved drives and view their application status.
        </p>
            <a href="/" class="auth-footer-link" style="justify-content: center; ">Back to Login</a>
{% endblock %}